
<mat-toolbar class ="navbar navbar-default" >
    
  <span><img mat-card-avatar src="assets/images/icon.png"></span>
  
  <a mat-button routerLink="/home" routerLinkActive="active" [routerLinkActiveOpitions] = "{exact: true}" >Home</a>
  <a mat-button routerLink="/search" routerLinkActive="active" [routerLinkActiveOpitions] = "{exact: true}">Search</a>
  <a mat-button routerLink="/news" routerLinkActive="active" [routerLinkActiveOpitions] = "{exact: true}">News</a>
  <a mat-button routerLink="/contactus" routerLinkActive="active" [routerLinkActiveOpitions] = "{exact: true}">Contact</a>
  <span class="example-fill-remaining-space"></span>
 <a mat-button routerLink="/chatbot" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ChatBot</a>
  
</mat-toolbar>

