
    <br><br>
    <mat-toolbar class= "footer" color="white">
       
              <h4>Links</h4>
              
                <a mat-icon class="fa fa-github-alt fa-fw" href="http://github.com/"></a>
                <a mat-icon class="fa fa-twitter fa-fw" href="http://twitter.com/"></a>
                <a mat-icon class="fa fa-facebook fa-fw" href="http://www.facebook.com/"></a>
                <a mat-icon class="fa fa-envelope fa-fw" href="mailto:medApp@gmail.com"></a>
                <a mat-icon class="fa fa-google-plus fa-fw" href="http://plus.google.com/"></a>
  
  </mat-toolbar>

  <div fxFlex="100%" fxFlexAlign="center">
    <div style="text-align:center;">
      <p>© Copyright 2018 Medical Frontier NLP Co.</p>
    </div>

