<div class="container-fluid">
  <mat-card>
    <mat-card-title style="text-align: center; background-color:antiquewhite;">
      <h3>Recent Research Progress</h3>
    </mat-card-title>
    <mat-card-content>
    <mat-tab-group>
      <mat-tab >
        <ng-template mat-tab-label>
            <em>HIV/AIDS</em>
        </ng-template>
        <mat-list>
        <mat-list-item *ngFor="let info of infos_HIV">
            <h4 style="white-space: normal;" mat-line>{{info.summary}}</h4> 
            <p mat-line>Date: {{info.date}}</p>
            <p mat-line>Tag: {{info.tag}}</p> 
            <a mat-line href={{info.link}}><span>{{info.link}}</span></a>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
        </mat-list>
      </mat-tab>
     
      <mat-tab>
          <ng-template mat-tab-label>
            <em>Alzheimer's Disease</em>
            </ng-template>
            <mat-list>
                    <mat-list-item *ngFor="let info of infos_Alzheimer">
                        <h4 style="white-space: normal;" mat-line>{{info.summary}}</h4> 
                        <p mat-line>Date: {{info.date}}</p>
                        <p mat-line>Tag: {{info.tag}}</p> 
                        <a mat-line href={{info.link}}><span>{{info.link}}</span></a>
                    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                    </mat-list-item>
            </mat-list>
      </mat-tab>

      <mat-tab>
          <ng-template mat-tab-label>
            <em>Cardiovascular Diseases</em>
          </ng-template>
          <mat-list>
                <mat-list-item *ngFor="let info of infos_cardiovascular">
                    <h4 style="white-space: normal;" mat-line>{{info.summary}}</h4> 
                    <p mat-line>Date: {{info.date}}</p>
                    <p mat-line>Tag: {{info.tag}}</p> 
                    <a mat-line href={{info.link}}><span>{{info.link}}</span></a>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                </mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab>
          <ng-template mat-tab-label>
              <em>Diabetes</em>
          </ng-template>
          <mat-list>
            <mat-list-item *ngFor="let info of infos_Diabetes">
                <h4 style="white-space: normal;" mat-line>{{info.summary}}</h4> 
                <p mat-line>Date: {{info.date}}</p>
                <p mat-line>Tag: {{info.tag}}</p> 
                <a mat-line href={{info.link}}><span>{{info.link}}</span></a>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
            </mat-list>
      </mat-tab>

      <mat-tab>
          <ng-template mat-tab-label>
              <em>Hepatitis</em>
          </ng-template>
          <mat-list>
          <mat-list-item *ngFor="let info of infos_hepatitis">
                <h4 style="white-space: normal;" mat-line>{{info.summary}}</h4> 
                <p mat-line>Date: {{info.date}}</p>
                <p mat-line>Tag: {{info.tag}}</p> 
                <a mat-line href={{info.link}}><span>{{info.link}}</span></a>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
              <em>Infertility</em>
          </ng-template>
          <mat-list>
                <mat-list-item *ngFor="let info of infos_infertility">
                      <h4 style="white-space: normal;" mat-line>{{info.summary}}</h4> 
                      <p mat-line>Date: {{info.date}}</p>
                      <p mat-line>Tag: {{info.tag}}</p> 
                      <a mat-line href={{info.link}}><span>{{info.link}}</span></a>
                  <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                  </mat-list-item>
              </mat-list>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
              <em>Leukemia</em>
          </ng-template>
          <mat-list>
          <mat-list-item *ngFor="let info of infos_leukemia">
                <p style="white-space: normal;" mat-line>{{info.summary}}</p> 
                <p mat-line>Date: {{info.date}}</p>
                <p mat-line>Tag: {{info.tag}}</p> 
                <a mat-line href={{info.link}}><span>{{info.link}}</span></a>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
    </mat-list>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
              <em>Lung Cancers</em>
          </ng-template>
          <mat-list>
                <mat-list-item *ngFor="let info of infos_lung_cancer">
                    <h4 style="white-space: normal;" mat-line>{{info.summary}}</h4> 
                    <p mat-line>Date: {{info.date}}</p>
                    <p mat-line>Tag: {{info.tag}}</p> 
                    <a mat-line href={{info.link}}><span>{{info.link}}</span></a>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
              <em>Obesity</em>
          </ng-template>
          <mat-list>
          <mat-list-item *ngFor="let info of infos_obesity">
                <h4 style="white-space: normal;" mat-line>{{info.summary}}</h4> 
                <p mat-line>Date: {{info.date}}</p>
                <p mat-line>Tag: {{info.tag}}</p> 
                <a mat-line href={{info.link}}><span>{{info.link}}</span></a>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
        </mat-list>
      </mat-tab>
    
    </mat-tab-group>
  </mat-card-content>
  </mat-card>
</div>
<br><br>
